[user]
	name = William Turner
	email = willtur.will@gmail.com
	signingkey = C8469D68E4820C43

[core]
	autocrlf = input
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[push]
	default = simple
[pull]
	ff = only

[diff]
	tool = vimdiff
[diff "hex"]
	textconv = hexdump -v -C

[credential]
	helper = netrc

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
