[submodule "vim/.vim/bundle/csv.vim"]
	path = vim/.vim/bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/bundle/vim-signify"]
	path = vim/.vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/.vim/bundle/editorconfig-vim"]
	path = vim/.vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/.vim/bundle/vim-scala"]
	path = vim/.vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/.vim/bundle/vim-wakatime"]
	path = vim/.vim/bundle/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/vim-multiple-cursors"]
	path = vim/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "xcompose"]
	path = xcompose
	url = https://github.com/kragen/xcompose.git
[submodule "vim/.vim/bundle/vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/.vim/bundle/vim-jsx"]
	path = vim/.vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/.vim/bundle/thrift.vim"]
	path = vim/.vim/bundle/thrift.vim
	url = https://github.com/solarnz/thrift.vim.git
[submodule "vim/.vim/bundle/colorizer"]
	path = vim/.vim/bundle/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "vim/.vim/bundle/rainbow"]
	path = vim/.vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "vim/.vim/bundle/vim-illuminate"]
	path = vim/.vim/bundle/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate.git
[submodule "vim/.vim/bundle/nerdtree-git-plugin"]
	path = vim/.vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/.vim/bundle/coc.nvim"]
	path = vim/.vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "zsh/.oh-my-zsh/custom/themes/powerlevel10k"]
	path = zsh/.oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/.oh-my-zsh/custom/themes/bullet-train"]
	path = zsh/.oh-my-zsh/custom/themes/bullet-train
	url = https://github.com/caiogondim/bullet-train-oh-my-zsh-theme.git
[submodule "vim/.vim/bundle/omnisharp-vim"]
	path = vim/.vim/bundle/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "vim/.vim/bundle/vim-polyglot"]
	path = vim/.vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
