@import "~/.config/rofi/ricing.rasi"

window {
  width: 40%;
  height: 20%;
}

inputbar {
  children: [ "entry", "num-filtered-rows", "textbox-num-sep", "num-rows", "case-indicator" ];
}

listview {
  scrollbar: false;
}
