@import "~/.config/rofi/ricing.rasi"

window {
  width: 35%;
  height: 22%;
}

inputbar {
  children: [ "entry", "num-filtered-rows", "textbox-num-sep", "num-rows", "case-indicator" ];
}

listview {
  scrollbar: false;
}
